<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                <p> I am a social data scientist with a deep fascination for the problems located at the intersection
                    of technology, policy, and society. As a doctoral candidate at Maastricht University, I'm exploring
                    how narratives around extreme weather events interact with public sentiments and climate
                    perceptions.
                </p>
                <br>
                <p>
                    <!-- My research interests are broad and diverse ranging from climate economics to
                    social media/network analysis. I have developed expertise in policy analysis using data-driven
                    tools, simulations, and agent-based modelling to tackle multidisciplinary "wicked problems". -->
                </p>

            </div>
        </div>
    </div>
    </div>
    </div>
</section>