<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                <p> I'm a social data scientist with a deep fascination for the problems located at the intersection
                    of technology, policy, and society. As a doctoral candidate at Maastricht University, I'm exploring
                    how climate policies and public sentiment interact with firm macroeconomic behaviour.
                </p>
                <br>
                <p>
                    My research interests are broad and diverse ranging from climate policies and circular economy to
                    social media/network analysis. I have developed expertise in policy analysis using data-driven
                    tools, simulations, and agent-based modelling to tackle "wicked problems" and multidisciplinary
                    challenges.
                </p>

            </div>
        </div>
    </div>
    </div>
    </div>
</section>
