<!-- Header -->
<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <img class="profile-img img-responsive mb-3" 
             src="img/profile-bw.png" 
             alt="profile-pic" />
        <br>
        <div class="intro-text">
          <h1 class="name mb-2">{{ site.title }}</h1>
          <hr class="star-light mx-auto" style="width: 60px; border-top: 2px solid #ccc;" />

          <div class="intro-subtitle mt-3">
            <p class="mb-1">
              <a href="https://www.maastrichtuniversity.nl/nl/soni" class="academic-link">
                PhD Candidate at Maastricht University
              </a>
            </p>
            <p class="subtitle-tagline">Tackling ‘wicked’ problems with Data Science</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
