<!-- Research Section -->
<section id="research" class="py-3">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-12">
                <h2 class="section-title text-left">Research</h2>
                <hr class="my-2" style="width: 60px; border: 1px solid #bbb; margin-left: 0;">

            </div>
        </div>

        <!-- Research Item -->
        <div class="row mb-5">
            <div class="col-md-12 offset-md-1">
                <div class="teaching-card p-4 shadow-sm border rounded bg-white">
                    <h3 class="mb-2">

                        <i class="fa-solid fa-play course-icon"></i>
                        <a href=""
                        target="_blank" class="text-decoration-none ">
                        Narratives of Extreme Weather Events
                        </a>
                    </h3>
                    <p class="text-muted mb-2">Working Paper | 2025 </p>
                    <p>
                        This paper explains how newspaper narratives surrounding May 2023 flooding of the Emilia-Romagna align with public sentiment and climate risk perception. At the macro level, actor roles are extracted from news paper articles published over a year long period covering the floods using Large Language Model RoBERTa together with an ensemble model XG-Boost. Micro-level narratives are captured through an online survey conducted in the Emilia-Romagna region of Italy to identify the most widely perceived actor roles. These macro and micro level narrative character roles are then compared and analyzed. The findings reveal a misalignment between macro-level portrayals of actor roles and micro-level perceptions, leading to a potential dissonance between public sentiment and media representations of the issue.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Research Item -->
        <div class="row mb-5">
            <div class="col-md-12 offset-md-1">
                <div class="teaching-card p-4 shadow-sm rounded bg-white">
                    <h3>
                        <i class="fas fa-play course-icon"></i>
                        <a href="https://www.researchgate.net/publication/382291384_SHIFFT_WP2_Monitoring_Evaluation_of_the_Co-creation_Pilots_WP2_Work_Package-2_Monitoring_and_Evaluation_Report" 
                        target="_blank" class="text-decoration-none">
                            SHIFFT WP2: Monitoring & Evaluation of the Co-creation Pilots
                        </a>
                    </h3>
                    <p class="text-muted mb-2">Technical Report | June 2023</p>
                    <p>
                        This report evaluates six co-creation pilots from the SHIFFT project (Interreg 2 Seas), which aimed to accelerate the adoption of sustainable heating technologies across Belgium, the Netherlands, France, and the UK. The pilots engaged 6,769 households and exceeded their CO₂ reduction goal by 224%, achieving a reduction of 7,677 tons/year. The participatory three-step co-creation approach involved stakeholder analysis, action plan design, and real-life implementation. Key contributions include lessons on behavioural change, investment mobilization, and scaling strategies for sustainable heat transitions.
                    </p>
                </div>
            </div>
        </div>

            <!-- Research Item 3  -->
        <div class="row mb-5">
            <div class="col-md-12 offset-md-1">
            <div class="teaching-card p-4 shadow-sm rounded bg-white">
                <h3>
                <i class="fas fa-play course-icon"></i>
                <a href="https://repository.tudelft.nl/person/Person_f24146f8-ecbb-4fd5-b187-5de8600d5e29"
                    target="_blank" class="text-decoration-none ">
                    Agent Based approach for modelling self-sufficiency of mixed energy communities in the Netherlands
                </a>
                </h3>
                <p class="text-muted mb-2"">Master Thesis | 2022</p>
                <p>This study is focused on exploring demand response opportunities in community energy projects located in the Netherlands to reduce their dependence on the grid. Existing studies on community energy projects are primarily focused on residential members, and have little to no inclusion of nonresidential community members. However, recent studies regarding demand response in the energy community highlight the benefits of having a mixed configuration of residential and non-residential members. Introducing non-residential community members such as SMEs, offices, and schools with a complementary demand profile can help the community in attaining self-sufficiency through demand response. Formulating energy communities with a mixed configuration (i.e. including residential and non-residential community members) optimizes local electricity generation and consumption thus avoiding congestion in the distribution network.</p>
            </div>
            </div>
        </div>
        </div>

    </div>
</section>