<section id="teaching">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Teaching Experience</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul>
                    <li>
                        <a href="https://code.unimaas.nl/Code/Display?intCalendarID=30&intBAMA=1&SearchString=BENC2014">
                            <h3>Sustainable Development</h3>
                        </a>
                        <p>Tutor (Bachelor Business Engineering | Spring 2023-24)</p>
                        <p> This course aims to explore sustainable development principles, encompassing academic
                            definitions, decision-making tools, and practical applications. It adopts a multidimensional
                            approach, considering social-cultural, ecological,
                            and economic perspectives. The course format includes
                            lectures, practical sessions, group discussions, and case studies. </p>
                    </li>
                    <br>
                    <li>
                        <a href="https://code.unimaas.nl/Code/Display?intCalendarID=30&intBAMA=1&SearchString=EBC2167">
                            <h3>Emerging Markets in the Global Economy</h3>
                        </a>
                        <p>Tutor (Bachelor International Business - Emerging Markets | Spring 2023-24)</p>
                        <p>This course equips students to analyze the economic impact of global issues on emerging
                            markets and comprehend the evolving role of emerging markets in global economics and
                            geopolitics. Topics covered include international trade, foreign direct investments,
                            financial globalization, environmental regulations, and migration.</p>
                    </li>
                    <br>
                    <li>
                        <a href="https://code.unimaas.nl/Code/Display?intCalendarID=29&intBAMA=1&SearchString=EBS2030">
                            <h3>Presentation Skills</h3>
                        </a>
                        <p>Tutor (Bachelor Course | Summer 2022-23 | Summer 2023-24)</p>
                        <p> Tailored for undergraduate
                            students, this course extends beyond the conventional use of PowerPoint. It encompasses
                            various techniques, such as Pecha Kucha (timed image-based presentations), Elevator Speech
                            (brief and impactful communication), and the emulation of TED talks (captivating
                            storytelling and stage presence).
                        </p>
                    </li>

                    <!-- Add more courses as needed -->
                </ul>
            </div>
        </div>
</section>