<section id="teaching" class="py-3">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <h2 class="section-title mb-2">Teaching</h2>
        <hr class="my-2" style="width: 60px; border: 1px solid #bbb; margin-left: 0;">
      </div>
    </div>

    <div class="row">
      <!-- Left Column: Courses -->
      <div class="col-md-8">
        <!-- Course Cards -->
        <div class="teaching-card p-4 shadow-sm rounded bg-white mb-5">
          <h3><i class="fas fa-book-open course-icon"></i>
            <a href="https://code.unimaas.nl/Code/Display?intCalendarID=30&intBAMA=1&SearchString=BENC2014" target="_blank" class="text-decoration-none">Sustainable Development</a></h3>
          <p class="text-muted mb-2">Tutor (Bachelor Business Engineering | Spring 2023–24 & 2024–25)</p>
          <p>This course explores sustainable development through academic definitions, decision-making tools, and practical applications. Adopting a multidimensional lens, social-cultural, ecological, and economic, it features lectures, practical sessions, group discussions, and case studies.</p>
        </div>

        <div class="teaching-card p-4 shadow-sm rounded bg-white mb-5">
          <h3><i class="fas fa-book-open course-icon"></i>
            <a href="https://code.unimaas.nl/Code/Display?intCalendarID=30&intBAMA=1&SearchString=EBC2167" target="_blank" class="text-decoration-none">Emerging Markets in the Global Economy</a></h3>
          <p class="text-muted mb-2">Tutor (Bachelor International Business – Emerging Markets | Spring 2023–24 & 2024–25)</p>
          <p>This course prepares students to analyze global economic influences on emerging markets and understand their growing geopolitical role. Topics include trade, FDI, financial globalization, environmental regulation, and migration.</p>
        </div>

        <div class="teaching-card p-4 shadow-sm rounded bg-white mb-5">
          <h3><i class="fas fa-book-open course-icon"></i>
            <a href="https://code.unimaas.nl/Code/Display?intCalendarID=29&intBAMA=1&SearchString=EBS2030" target="_blank" class="text-decoration-none">Economy Game</a></h3>
          <p class="text-muted mb-2">Tutor (Bachelor Course | Summer 2023–24)</p>
          <p>This course introduces students to market behavior through interactive simulations, where they take on roles as consumers, producers, or traders. By analyzing simulation data and comparing outcomes to economic theory, students deepen their understanding of market dynamics.</p>
        </div>

        <div class="teaching-card p-4 shadow-sm rounded bg-white mb-5">
          <h3><i class="fas fa-book-open course-icon"></i>
            <a href="https://code.unimaas.nl/Code/Display?intCalendarID=29&intBAMA=1&SearchString=EBS2030" target="_blank" class="text-decoration-none">Presentation Skills</a></h3>
          <p class="text-muted mb-2">Tutor (Bachelor Course | Summer 2022–23)</p>
          <p>Designed for undergraduate students, this course expands presentation techniques beyond PowerPoint. It includes Pecha-Kucha (timed image-based talks), Elevator Pitches (concise communication), and TED style storytelling and stage presence.</p>
        </div>
      </div>

       <!-- Right Column: Thesis Supervision -->
       <div class="col-md-4">
        <div class="teaching-card p-4 shadow-sm rounded bg-white mb-5">
          <h3 style="font-size: 2rem;"><i class="fas fa-user-graduate course-icon"></i> Thesis Supervision</h3>
          <!-- <p class="text-muted mb-2">BSc International Business & Economics | Emerging Markets</p> -->
          <p>I regularly supervise bachelor thesis projects for students in the BSc. International Business and BSc. Economics & Business Economics programs with Emerging Markets specialization. Recent theses include:</p>
          <ul class="list-unstyled" style="font-size: small;line-height: 1.9;">
            <li>
              <a href="#" class="text-dark" target="_blank" style=" color: #000;">
                <strong>Eva Aders</strong>, Influence of FDI on Industry Value Added in Africa
              </a>
              <span class="text-muted">(Spring 2024–25)</span>
            </li> 
            <li>
              <a href="#" class="text-dark" target="_blank" style=" color: #000;">
                <strong> Matthew Ellis</strong>, Understanding the Real Estate Surge Worldwide: Insights from OECD Markets
              </a>
              <span class="text-muted">(Spring 2024–25)</span>
            </li>
            <li>
              <a href="#" class="text-dark" target="_blank" style=" color: #000;">
                <strong> Paulina Stock</strong>, When the Rains Fail: The Socio-Economic Impact of Prolonged Droughts in Sub-Saharan Africa
              </a>
              <span class="text-muted">(Spring 2024–25)</span>
            </li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>